<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
    <add key="EEApps" value="https://eeapps.blob.core.windows.net/eeapps/index.json" />
    <add key="platform.uno dev" value="https://uno-platform.pkgs.visualstudio.com/Uno%20Platform/_packaging/unoplatformdev/nuget/v3/index.json" />
  </packageSources>
  <config>
    <add key="dependencyversion" value="Highest" />
  </config>
</configuration>
